<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MessageControllerServlet</servlet-name>
        <servlet-class>LostFound.controller.MessageControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LostControllerServlet</servlet-name>
        <servlet-class>LostFound.controller.LostControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MessageControllerServlet</servlet-name>
        <url-pattern>/MessageControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LostControllerServlet</servlet-name>
        <url-pattern>/LostControllerServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
